body {
  background-color: #e1ad01;
  color: #e13d00;
  font-family: monospace;
}
h1 {
  font-size: 4rem;
}
.image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#tribute-info {
  font-size: 1.2rem;
}

#tribute-link {
  color: #a4e100;
}

#img-caption {
  font-size: 0.9rem;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
footer {
  font-size: 0.9rem;
}
